<table class="table">
  <thead>
  	<tr>
  	  <th></th>
  	  <th>Submission date</th>
  	  <th>Customer</th>
  	  <th>Total Price</th>
  	</tr>
  </thead>
  <tbody>
  	<% if orders %>
	  <% orders.each do |order| %>
		<tr>
		  <td><a href="<%= admin_dashboard_show_path order %>" class="btn">Details</td>
		  <td><%= order.created_at %></td>
		  <td><%= order.user.full_name %></td>
		  <td>$<%= order.total_price %></td>
		</tr>
	  <% end %>
	<% end %>
  </tbody>
</table>